@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* to edit placeholder */
input,
input::-webkit-input-placeholder {
  font-size: 14px;
}

@layer components {
  .reg-input {
    @apply bg-[#F5F5F5] text-black text-opacity-50 block pl-4 py-2.5 focus:outline-none rounded-sm w-full;
  }
  .login-input {
    @apply bg-[#F5F5F5] text-black text-opacity-50 pl-4 py-2.5 focus:outline-none rounded-sm w-full;
  }
  .verify-input {
    @apply bg-[#F5F5F5] text-[#079F32] text-opacity-50 pl-4 py-2.5 focus:outline-none rounded-sm w-full;
  }
}

li::marker {
  font-size: 30px;
}
